.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  
  /* Shared Styles */
  .text-primary{
    color: #006A50;

  }
  .text-center{
    text-align: center;
  }
  
  .btn-blue{
    background-color: #5490F5;
    font-weight: 600px;
    font-size: 18px;
    border: none;
    color: white;
    padding: 17px 34px;
    border-radius: 8px;

  }
  .btn-green{
    background-color: #09A15C;
    font-weight: 600px;
    font-size: 18px;
    border: none;
    color: white;
    padding: 17px 34px;
    border-radius: 8px;

  }
  .btn-orange{
    background-color: #FFC239;
    font-weight: 600px;
    font-size: 18px;
    border: none;
    color: white;
    padding: 17px 34px;
    border-radius: 8px;

  }
  .btn-primary{
    background-color: #006A50;
    font-weight: 600px;
    font-size: 18px;
    border: none;
    color: white;
    padding: 17px 34px;
    border-radius: 8px;

  }
  .section-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
  }
  .subtitle{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
  }
  
  .section-description{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
  }
  


/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 160px;
}
.nav-title{
    font-weight: 600;
    font-size: 32px;
}
.nav-button{
    font-weight: 400;
    font-size: 18px;
    margin: 50px 50px;
}

/* Banner Styles */
.banner{
    display: flex;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 160px;
    max-width: 1280px;
    margin: 0 auto;
    text-decoration: none;
}
.banner-content{
    padding: 117px 59.99px;
    text-decoration: none;

}

.banner-subtitle{
    font-size: 24px;
    font-weight: 600;
    color: #B5B5B5

}
.banner-title{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
   
}
.banner-picture{
    padding: 80px 59.99px;

}
/* main styles */
main{
  max-width: 1280px;
  margin: 0 auto;
}
main section{
  margin-top: 80px;
  margin-bottom: 80px;
}
/* pillar section */

.pillars-container{
  display: flex;
  gap: 24px;
}
.pillar{
  padding: 24px;
  
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  fill: #FFFFFF;
  border-radius: 16px;
}

/* vision style section */

.vision-container{
  display: flex;
  gap: 24px;
  
}
.technology-one{
   box-shadow: 0px 4px 4px 0px ;
   background-color: #81B4FC;
   border-radius: 16px;
   padding: 32px;
  
}
.technology-two{
  box-shadow: 0px 4px 4px 0px ;
  background-color: #C6E4D6;
  border-radius: 16px;
  padding: 32px;
 
}
.technology-three{
  box-shadow: 0px 4px 4px 0px ;
  background-color: #F7EBCF;
  border-radius: 16px;
  padding: 32px;
 
}
.comment{
  background-color: #FFFFFF;
  padding: 48px 24px 48px 24px;
  box-shadow: 0px 4px 4px 0px;
  border-radius: 16px;
  
}
.comment-description{
  line-height: 24px;
  margin-top: 60px;
  
  

}
.comment-name{
  line-height: 24px;
  margin-bottom: 10px;

}
.name-title{
  color: #000000;
  margin-top: 10px;

}

/* Opinion table */
.opinion-table{
  background-color: #FFFFFF;
  padding: 32px 32px;
  box-shadow: 0px 4px 4px 0px;
  fill: #FFFFFF;
  border-radius: 16px;
}

table{
  border-collapse: collapse;
  height: 400px;
  width: 1220px;
}
td, th{
  padding: 24px 24px;
  fill: #FFFFFF;
  border: 1px solid #0E0E0E;
}
th{
  text-align: left;
}
.table-row{
  background-color: #C6E4D6;
  fill: #C6E4D6;
  padding: 24px 24px;
  width: 1216px;
  height: 72px;
}
.table-button{
 background-color: #C6E4D6;
 fill: #C6E4D6;
  padding: 14px 10px;
  border-radius: 4px;
  width: 152px;
  height: 44px;
}

/* Satellite news style */
.satellite-news{
  margin: 32px;
  
  
}

.satelite-title{
  font-size: 32px;
  font-weight: bold;
  color: #0E0E0E;
}
.satellite{
  display: flex;
  background-color: #FFFFFF;
    border-radius: 24px;
    padding: 48px 48px;
    max-width: 1280px;
    margin: 0 auto;
    text-decoration: none;
    box-shadow: 0px 4px 4px 0px;
    
}
.satellite-image{
  padding: 48px 48px;
  border-radius: 24px;
  width: 408px;
  height: 308px;
 
}
.satellite-second{
  display: flex;
  text-align: center;
  
  background-color: #FFFFFF;
    border-radius: 24px;
    padding: 48px 48px;
    box-shadow: 0px 4px 4px 0px;
    
}
